@import "tailwindcss";


@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: #fff;
        background-color: #000000;
        font-family: "Inter", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

}

@layer utilities {
    .text-gradient {
        background: linear-gradient(135deg, rgb(42, 35, 178) 0%, rgba(249 115 22) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}